@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


*{
    margin : 0px;
    padding: 0px;
}
.game-container{
     background-image: linear-gradient(to right, rgb(241, 230, 102), rgb(235, 102, 215));
    
    height : 100vh;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    gap: 100px;

}

 h1{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top : 20px;
    
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content : center;
    align-items: center;
    
}

button{
    height: 200px;
    width: 200px;
    margin: 25px;
    border-radius: 65%;
    border-width: 0px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 30px;
    text-align: center;

}
.rock-btn{
 background-color: rgb(14, 248, 236);
 border: 2px solid #6ee3f3;
 box-shadow: 0px 0px 15px #53efef;
 cursor: pointer;
}

.paper-btn{
 background-color: rgb(43, 245, 137);
 border: 2px solid #6ef398;
 box-shadow: 0px 0px 15px #63f086;
 cursor: pointer;
}

.scissor-btn{
 background-color: rgb(240, 51, 67);
 border: 2px solid #f37d9e;
 box-shadow: 0px 0px 15px #ed556a;
 cursor: pointer;
}


#displayMessage{
    font-family:'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.tie-message{
       color: yellow;
}

.win-message{
    color: green;
}

.lose-message{
    color: red;
}